<head>
  <title>app</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        {{ > menu }}
    </header>
    <main>
         <div class="container">
            {{#if currentUser}}
             <div class="row">
                 <div class="col s6">
                    <h2>Notes from DB</h2>
                    <ul class="collection">  
                        {{#each notes}}
                          {{ > note }}   
                        {{/each}}   
                    </ul>
                </div>
                <div class="col s6">
                    <h2>Insert new Note</h2>
                    {{ > add }}
                </div>
             </div>
             {{else}}
             <h2>Você tem que estar logado para ver o conteúdo</h2>
             {{/if}}
         </div>
    </main>  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
</body>


<!-- templates da página -->
<template name="menu">
    <nav>
        <div class="nav-wrapper blue lighten-2">
            <div class="container">
                <a href="#" class="brand-logo">p1LL4</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Teste</a></li>
                    <li><a href="#">Teste</a></li>
                    <li>{{ > loginButtons }}</li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<!-- templates de dados variados e CRUD-->



