<template name="add">
    <form class="add-note">
        <input type="text" name="newNote" placeholder="add new note" />
        <button type="submit" class="btn blue darken-2" onclick="Materialize.toast('Adicionado', 2500);">Adicionar</button>
    </form>
</template>