
<template name="note">
    <li class="collection-item">
        <div class="row">
            <div class="col s10">
                <strong>Adicionado por: {{username}}</strong>
                <form class="edit-item">
                    <input type="text" name="text" value="{{text}}" />
                    <button type="submit" class="btn blue darken-2" onclick="Materialize.toast('Editado', 2500);">Editar</button>
                </form>
            </div>
            <div class="col s2">
                <a href="javascript:void(0);" class="delete-note secondary-content" onclick="Materialize.toast('Removido', 2500);">

                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
    </li>
</template>
